# Port réseau pour les serveurs web
# du back et du front
QS_HTTP_PORT=9419

# Memory caping for containers : 5Gio
MEM_LIMIT=5g
CPU_LIMIT=5

# Options tomcat : 
CATALINA_OPTS=-Dnet.sf.ehcache.skipUpdateCheck=true -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=128m -Xms4g -Xmx4608m
